<!-- ride-list.component.html -->
<nav class="top-menu" aria-label="Main navigation">
  <ul class="top-menu__list">
    <li class="top-menu__item" >
      <button class="top-menu__link">Trip</button>
    </li>
    <li class="top-menu__item" >
      <button class="top-menu__link" routerLink="/rides">Ride History</button>
    </li>
    <li class="top-menu__item">
      <button class="top-menu__link" routerLink="/login">Account</button>
    </li>
  </ul>
</nav>

<!-- Existing ride list content -->
<section class="ride-list">
  <!-- ... your ride list code from before ... -->
</section>


<router-outlet />
