<nav class="top-menu" aria-label="Main navigation">
  <ul class="top-menu__list">
      @if(isAuthenticated) {
        <li class="top-menu__item">
          <button class="top-menu__link" routerLink="/rides">Ride History</button>
        </li>
        <div class="top-menu_right">
          <li class="top-menu__item">
            <button class="top-menu__link" routerLink="/logout">Logout</button>
          </li>
        </div>
      } @else {
        <div class="top-menu_right">
          <li class="top-menu__item right">
            <button class="top-menu__link" routerLink="/login">Login</button>
          </li>
          <li class="top-menu__item right">
            <button class="top-menu__link" routerLink="/register">Register</button>
          </li>
        </div>
      }
  </ul>
</nav>