 <p>Login</p>

<div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div>
        <label for="email">Email:</label>
        <input
            matInput
            placeholder="E-mail"
            aria-label="E- mail"
            formControlName="email" />
        </div>
        <div>
        <label for="password">Password:</label>
         <input
            matInput
            placeholder="Password"
            aria-
            label="Password"
            type="password"
            formControlName="password" />
        </div>
        <button type="submit">Login</button>
    </form>
</div> 

